<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- In-process Compose test host. It has no intent filter and is never externally reachable. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false" />

        <receiver
            android:name=".garmin.GarminDebugReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.setforge.gymapp.DEBUG_GARMIN_SYNC" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
