<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".garmin.GarminDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.setforge.gymapp.DEBUG_GARMIN_SYNC" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
